// google font 
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1{
    font-size: 5rem;
}

section{
    height: 100vh;
    width: 100vw;
}

.sec1,.sec3,.sec5,.sec7,.sec9{
    background-color: rgb(240, 194, 44);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4,.sec6,.sec8,.sec10{
    background-color: rgb(22, 80, 21);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

//============================== section 2=======================================
.sec2{
    display: flex;
    flex-direction: column;
    .sec2-data{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .sec2-title{
            width: 30%;
            z-index: 10;
            left: 10%;
            h2{
                font-weight:normal;
                font-family:"標楷體";
                letter-spacing: 3pt;
                line-height:1.5;
            }
        }
        .sec2-img{
            display: flex;
            justify-content: flex-end;
            width: 80%;
          
            img{
                width: 100%;
            }
        }
    }
}

//============================== RWD =======================================
@media (max-width:576px){
    .sec2{
        .sec2-data{
            flex-direction: column;
            .sec2-title{
                width: 100%;
                text-align: center;
                margin: 20px 0;
                h2{
                    font-size: 20px;

                }
            }
            .sec2-img{
                width: 100%;
                justify-content: center;
            }
        }
    }

}

@media (min-width:576px){
    .sec2{
        .sec2-data{
            position: relative;
              .sec2-title{
                  width: 40%;
                  position: absolute;
                  h2{
                      font-size: 25px;
                  }
      
              }
          }
    }

}

@media (min-width:768px){
    .sec2{
        .sec2-data{
            .sec2-title{
                h2{
                    font-size: 30px;
                }
            }
        }
    }

}

@media (min-width:992px){
    .sec2{
        .sec2-data{
            .sec2-title{
                h2{
                    font-size: 35px;
                }
            }
        }
    }
}
//============================== footer =======================================
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(212, 86, 13);
}