@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 5rem;
}

section {
  height: 100vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #989b96;
  color: white;
}

.btn-link {
  border: 0.5px solid grey;
  padding: 15px;
  border-radius: 30px;
  width: 20%;
  font-size: 15px;
  font-weight: normal;
  font-family: "標楷體";
  line-height: 2;
  text-align: center;
}

.btn-link a {
  color: gray;
  text-decoration: none;
}

.sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 0;
}

.sec-title span:first-child {
  font-size: 15px;
  font-weight: normal;
}

.sec-title span:nth-child(2) {
  font-weight: normal;
  font-family: "標楷體";
  margin-top: 20px;
}

.sec-product {
  color: #000;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.sec-product h3 {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.sec-product p {
  font-weight: 200;
}

.product-site {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-site .product-img {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-div {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 2rem;
}

.product-div a {
  text-decoration: none;
}

.product-div a img {
  width: 100%;
}

.section-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 3rem 0;
}

.menu-icon {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-drawer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  padding: 5px 0;
  border-color: white;
  cursor: pointer;
}

.menu-icon div {
  font-size: 40px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/bg-navi-inner.jpg");
  width: 400px;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 50;
}

.nav-list ul {
  list-style: none;
  padding: 10rem 0;
  padding-left: 2rem;
}

.nav-list ul li {
  margin: 1.5rem;
}

.nav-list ul li a {
  text-decoration: none;
  color: #3a3939;
}

.word-logo {
  z-index: 888;
  position: fixed;
  top: 50%;
  right: calc(80px/2);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.hide {
  display: none;
  z-index: 99;
}

.nav-close {
  background: white;
  text-align: center;
}

.header-title {
  z-index: 999;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-title .header-right {
  position: absolute;
  right: 80px;
}

.header-title .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-title .header-right ul li {
  list-style: none;
  margin: 0 .5rem;
}

.header-title .header-right ul li a {
  text-decoration: none;
  color: #070707;
}

.sec1 {
  width: calc( 100% - 80px);
  position: relative;
}

.sec1 .sec-carousel {
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.sec1 .mySlides {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: slide 15s infinite;
          animation: slide 15s infinite;
  background-image: url("../images/main01.jpg");
  background-size: 100% auto;
  object-fit: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes slide {
  20% {
    background-image: url("../images/main02.jpg");
  }
  40% {
    background-image: url("../images/main03.jpg");
  }
  60% {
    background-image: url("../images/main04.jpg");
  }
  80% {
    background-image: url("../images/main05.jpg");
  }
  100% {
    background-image: url("../images/main06.jpg");
  }
}

@keyframes slide {
  20% {
    background-image: url("../images/main02.jpg");
  }
  40% {
    background-image: url("../images/main03.jpg");
  }
  60% {
    background-image: url("../images/main04.jpg");
  }
  80% {
    background-image: url("../images/main05.jpg");
  }
  100% {
    background-image: url("../images/main06.jpg");
  }
}

.sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec2 .sec2-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sec2 .sec2-data .sec2-title {
  width: 25%;
  z-index: 10;
  left: 10%;
  position: absolute;
}

.sec2 .sec2-data .sec2-title h2 {
  font-weight: normal;
  font-family: "標楷體";
  letter-spacing: 3pt;
  line-height: 1.5;
}

.sec2 .sec2-data .sec2-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
}

.sec2 .sec2-data .sec2-img img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.sec2 .sec2-word .sec2-content {
  background-color: #fff;
  padding: 64px;
  /*
            box-shadow: h-shadow v-shadow blur spread color inset;
            box-shadow: 水平陰影的位置  垂直陰影的位置   模糊距離  正值時陰影擴張
            */
  -webkit-box-shadow: 2px 2px 10px rgba(139, 139, 139, 0.6);
          box-shadow: 2px 2px 10px rgba(139, 139, 139, 0.6);
  margin: -20px 20px 0 20px;
  z-index: 50;
  width: 75%;
}

.sec2 .sec2-word .sec2-content h3 {
  text-align: center;
  padding-bottom: 48px;
  font-weight: normal;
  font-family: "標楷體";
}

.sec2 .sec2-word .sec2-content p {
  font-family: "標楷體";
}

.sec3 {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -14rem;
}

.sec3 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px;
}

.sec3 h2 span:first-child {
  font-size: 15px;
  font-weight: normal;
}

.sec3 h2 span:nth-child(2) {
  font-weight: normal;
  font-family: "標楷體";
  margin-top: 20px;
}

.sec3 .sec3-content {
  text-align: center;
}

.sec3 .sec3-content img {
  max-width: 100%;
  /*保持原有尺寸比例。但部分内容可能被剪切。*/
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.sec3 .sec3-content .sec3-word {
  display: inline-block;
  -webkit-box-shadow: 2px 2px 10px rgba(139, 139, 139, 0.6);
          box-shadow: 2px 2px 10px rgba(139, 139, 139, 0.6);
  background-color: white;
  padding: 39px;
  z-index: 10;
  text-align: left;
  margin-top: -40px;
}

.sec3 .sec3-content .sec3-word h3 {
  margin-bottom: 3rem;
  font-family: "標楷體";
  font-weight: normal;
  letter-spacing: 2pt;
}

.sec3 .sec3-content .sec3-word a {
  border: 0.5px solid grey;
  padding: 15px;
  border-radius: 30px;
  color: gray;
  font-size: 15px;
  font-weight: normal;
  font-family: "標楷體";
  text-decoration: none;
  line-height: 2;
}

.sec4 {
  padding-top: 5rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec4 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec4 h2 span:first-child {
  font-size: 15px;
  font-weight: normal;
}

.sec4 h2 span:nth-child(2) {
  font-weight: normal;
  font-family: "標楷體";
  margin-top: 20px;
}

.sec4 .sec4-content {
  text-align: left;
  padding: 20px;
}

.sec4 .sec4-content img {
  max-width: 100%;
  /*保持原有尺寸比例。但部分内容可能被剪切。*/
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.sec4 .sec4-content p {
  font-size: 10px;
  margin-bottom: 20px;
}

.sec4 .sec4-content a {
  border: 0.5px solid grey;
  padding: 15px;
  border-radius: 30px;
  color: gray;
  font-size: 15px;
  font-weight: normal;
  font-family: "標楷體";
  text-decoration: none;
  line-height: 2;
}

.sec5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
  margin: 2rem 0;
}

.sec5 .sec5-content-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

.sec5 .sec5-content-point figure {
  margin-bottom: 2rem;
  width: 50%;
}

.sec5 .sec5-content-point figure img {
  width: 100%;
}

.sec5 .sec5-content-point .sec5-word {
  width: 40%;
  margin: 2rem 0;
  font-weight: 100;
}

.sec5 .sec5-content-point .sec5-word h5 {
  padding-left: .55rem;
  font-weight: 300;
}

.sec5 .sec5-content-point .sec5-word h3 {
  font-weight: 550;
  line-height: 1.5;
}

.sec5 .pic-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.sec6 {
  background-color: white;
}

.sec7 {
  background-color: #FAFAFA;
}

.sec7 .sec-blog {
  -ms-flex-negative: 3;
      flex-shrink: 3;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.sec8 {
  background-image: url("../images/bg-footer.jpg");
  height: 50vh;
}

@media (max-width: 576px) {
  .sec2 .sec2-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: Static;
  }
  .sec2 .sec2-data .sec2-title {
    width: 100%;
    text-align: center;
    position: Static;
    margin: 20px 0;
  }
  .sec2 .sec2-data .sec2-title h2 {
    font-size: 20px;
  }
  .sec2 .sec2-data .sec2-img {
    width: 100%;
    height: 50vh;
  }
  .sec2 .sec2-data .sec2-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .sec2 .sec2-word .sec2-content {
    padding: 30px;
    height: auto;
    line-height: 1.5;
    -webkit-box-shadow: 2px 2px 20px rgba(139, 139, 139, 0.6);
            box-shadow: 2px 2px 20px rgba(139, 139, 139, 0.6);
  }
  .sec4 {
    height: 100%;
  }
  .sec3 {
    margin-top: 10rem;
  }
  .sec3 .sec3-content img {
    height: 50vh;
  }
  .sec5 {
    height: 100%;
    width: 100%;
  }
  .sec5 .sec5-content-point .sec5-word {
    margin: 2rem 0;
  }
  .sec5 .sec5-content-point .sec5-word h3 {
    margin-bottom: 1rem;
  }
  .product-div {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    margin: 1rem;
  }
  .sec7 .product-img {
    width: 102%;
    overflow: scroll;
    overflow-y: auto;
  }
  .sec7 .product-img .sec-blog {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-negative: 3;
        flex-shrink: 3;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
  }
}

@media (min-width: 576px) {
  .sec2 .sec2-data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sec2 .sec2-data .sec2-title h2 {
    font-size: 23px;
    letter-spacing: 1.5pt;
  }
  .sec2 .sec2-word .sec2-content {
    position: absolute;
    right: 0;
    padding: 28px;
  }
  .sec3 {
    padding-bottom: 10rem;
  }
  .sec4 {
    margin-top: 10rem;
    margin-bottom: 15rem;
  }
  .sec5 {
    width: 100%;
    height: 100%;
  }
  .sec-title {
    margin: 5rem;
  }
  .product-div {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    margin: 1rem;
  }
  .sec7 .sec-blog {
    -ms-flex-negative: 3;
        flex-shrink: 3;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
  }
}

@media (min-width: 768px) {
  .sec2 .sec2-word .sec2-content {
    margin-right: 0;
    height: auto;
    line-height: 2;
    width: 60%;
  }
  .sec3 {
    margin-top: 3rem;
  }
  .sec4 {
    padding: 0;
    margin: 0;
  }
  .sec4 h2 {
    margin-bottom: 3rem;
  }
  .sec4 h2 span:first-child {
    font-size: 15px;
  }
  .sec4 h2 span:nth-child(2) {
    font-size: 30px;
    line-height: 1;
  }
  .sec4 .sec4-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
  }
  .sec4 .sec4-content .sec4-word {
    padding-left: 50px;
  }
  .sec5 {
    width: 100%;
    height: 100%;
  }
  .sec5 .sec5-content-point figure {
    margin-bottom: 6rem;
  }
}

@media (min-width: 992px) {
  .sec2 .sec2-word .sec2-content {
    right: 5%;
  }
  .sec5 .sec5-content-point figure {
    margin-bottom: 8rem;
  }
  .product-div {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-negative: 3;
        flex-shrink: 3;
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    margin: 1rem;
  }
}

@media (min-width: 1200px) {
  .sec2 {
    margin: 10rem 0;
  }
  .sec2 .sec2-data .sec2-title h2 {
    font-size: 35px;
  }
  .sec2 .sec2-word {
    margin-top: -7rem;
  }
  .sec2 .sec2-word .sec2-content {
    right: 8%;
    width: 50%;
  }
  .sec3 {
    position: relative;
  }
  .sec3 .sec3-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
  .sec3 .sec3-content figure {
    width: 78%;
    right: 0;
  }
  .sec3 .sec3-content figure img {
    width: 90%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .sec3 .sec3-word {
    padding: 60px;
    position: absolute;
    left: 10%;
    top: 30%;
  }
  .sec4 {
    margin-top: 5rem;
  }
  .sec4 .sec4-content {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
  }
  .sec4 .sec4-content .sec4-word {
    padding-left: 5rem;
  }
  .sec5 .sec5-word h5 {
    font-size: 20px;
  }
  .sec5 .sec5-word h3 {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .sec5 .sec5-word p {
    font-weight: 500;
    line-height: 2.2;
    padding-right: 5rem;
  }
  .product-div {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-negative: 3;
        flex-shrink: 3;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    margin: 2rem;
  }
}

@media (min-width: 1440px) {
  .sec3 {
    margin-top: 10rem;
  }
  .sec3 .sec3-word {
    left: 15%;
    top: 20%;
  }
  .sec4 {
    margin-top: 20rem;
  }
  .sec4 .sec4-content {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 10rem;
  }
  .sec4 .sec4-content .sec4-word {
    padding-left: 10rem;
  }
}

@media screen and (max-width: 1500px) {
  .sec1 .mySlides {
    background-size: auto 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=index.css.map */